.place__text {
  grid-column: 2;
  grid-row: 2;
}

@media screen and (max-width: 632px) {
  .place__text {
    margin: 0 24px;
  }
}

@media screen and (max-width: 632px) {
  .place__text {
    margin: 0 16px;
  }
}